---
layout: single
author_profile: true
classes: wide
---

## Recent Posts

{% for post in site.posts limit:5 %}
  <article class="archive__item">
    <h3 class="archive__item-title">
      <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
    </h3>
    
    {% if post.date %}
      <p class="page__meta">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
      </p>
    {% endif %}
    
    {% if post.excerpt %}
      <p class="archive__item-excerpt">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>
    {% endif %}
  </article>
{% endfor %}

---

*See all posts in [Blog archive](/year-archive/)*
